body {
    margin: 0;
    height: 100vh;
    background-color: #faf5ff; /* Lilac */
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: "Libre Baskerville", serif;
  }
  
  .container {
    text-align: center;
  }
  
  .profile-img {
    width: 120px;
    height: auto;
    border-radius: 8px;
  }
  
  h1 {
    margin: 10px 0;
    color: #171717;
  }
  
  .links {
    margin-top: 10px;
    color: #7c7c7c;
    font-size:15px;
  }
  
  .links a {
    margin: 0 10px;
    color: #7c7c7c;
    text-decoration: none;
    /* font-family: sans-serif; */
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .portfolio-list {
    margin-top: 30px;
}

.project {
    margin-bottom: 15px;
}

.project a {
    color: #171717;
    font-size: 18px;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}
